%project-container {
	align-items: center;
	display: flex;
	$margin-strength: auto;
	margin: {
		bottom: 6vh;
		left: $margin-strength;
		right: $margin-strength;
	}
	max-width: 1000px;
}

@each $alignment in left, right {
	.project-container-#{$alignment} {
		@extend %project-container;
		@if $alignment == left {
			flex-direction: row-reverse;
		} @else {
			flex-direction: row;
		}
	}

	.project-desc-#{$alignment} {
		margin-#{$alignment}: 2%;
		$padding-strength: 4%;
		@if $alignment == left {
			padding-right: $padding-strength;
		} @else {
			padding-left: $padding-strength;
		}
		text-align: $alignment;
	}
}

.project-title {
	display: block;
	font-size: 3em;
	margin: auto;
}

.project-thumbnail {
	flex: 1 0 auto;
	height: inherit;
	margin: auto;
	object-fit: contain;
	width: 60%;
}
