.title {
	bottom: 0;
	font-family: -apple-system, Helvetica, Arial, sans-serif;
	font-size: 6vh;
	font-weight: bold;
	margin-bottom: 0.35em;
	margin-left: 3%;
	position: absolute;
}

$headerViewportProportion: 10vh;
$minHeaderHeight: 50px;

.headerContainer {
	box-shadow: 0 2.4vh 1.2vh -2vh grey;
	height: $headerViewportProportion;
	min-height: $minHeaderHeight;
	position: relative;
}

$logoAspectRatio: 25 / 10;

.logoGL {
	float: right;
	height: 100%;
	width: $headerViewportProportion * $logoAspectRatio;
}

@media screen and (max-height: $minHeaderHeight * 10) {
	.title {
		font-size: $minHeaderHeight * (6 / 10);
	}

	.logoGL {
		width: $minHeaderHeight * $logoAspectRatio;
	}
}
