.title {
	bottom: 0;
	font: {
		family: -apple-system, Helvetica, Arial, sans-serif;
		size: 6vh;
		weight: bold;
	}
	margin: {
		bottom: .35em;
		left: 3%;
	}
	position: absolute;
}

$header-viewport-proportion: 10vh;
$min-header-height: 50px;
$container-shadow-colour: #808080;

.header-container {
	box-shadow: 0 2.4vh 1.2vh -2vh $container-shadow-colour;
	height: $header-viewport-proportion;
	min-height: $min-header-height;
	position: relative;
}

$logo-aspect-ratio: 25 / 10;

.logo-gl {
	float: right;
	height: 100%;
	width: $header-viewport-proportion * $logo-aspect-ratio;
}

@media screen and (max-height: $min-header-height * 10) {
	.title {
		font-size: $min-header-height * (6 / 10);
	}

	.logo-gl {
		width: $min-header-height * $logo-aspect-ratio;
	}
}
