.header-container {
  --min-header-height: 50px;
  --header-viewport-proportion: 10vh;

  align-items: center;
  box-shadow: 0 2.4vh 1.2vh -2vh #808080;
  display: flex;
  height: var(--header-viewport-proportion);
  justify-content: space-between;
  min-height: var(--min-header-height);
  position: relative;
}

.title {
  flex: 1;
  font-weight: bold;
  font-size: 6vh;
  margin: auto;
  overflow: hidden;
  padding-left: 3%;
  white-space: nowrap;

  @media screen and (max-height: 500px) {
    font-size: calc(var(--min-header-height) * 0.6);
  }
}

.logo-gl {
  --logo-aspect-ratio: 2.5;

  height: 100%;
  margin-right: 3%;
  width: calc(var(--header-viewport-proportion) * var(--logo-aspect-ratio));

  @media screen and (max-height: 500px) {
    width: calc(var(--min-header-height) * var(--logo-aspect-ratio));
  }
}
